{% extends '::base.html.twig' %}

{% block title %}{% trans %}profiling{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}test-run{% endtrans %}</h1>
            </div>
        </div>
    </div>
{% endblock %}

