{% extends '::base.html.twig' %}

{% block title %}Profiling{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This is a test run</h1>
            </div>
        </div>
    </div>
{% endblock %}

