/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/data/
/build/
/vendor/
/bin/
/composer.phar
/atlassian-ide-plugin.xml
/.idea
.DS_Store