/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/data/
/vendor/
/bin/
/scripts/vendor/
/scripts/phar/
/scripts/*.phar
/scripts/composer.lock
/scripts/config.yml
/atlassian-ide-plugin.xml
/.idea