parameters:
    xhprof.profiling.save.handler.class: Xhprof\GuiBundle\Services\ProfilingSaveHandler

services:
    xhprof.profiling.save.handler:
         class:        "%xhprof.profiling.save.handler.class%"
         calls:
                      - [setContainer, ["@service_container"]]